<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">My Contacts</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="(isAuth() | async)"> <a routerLink="/nuevo">Nuevo Contacto</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="(isAuth() | async)"> <a routerLink="/contactos">Contactos</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="(isAuth() | async)"> <a (click) = "onLogout()" routerLink="/inicio">Cerrar Sesion</a></li>
    </ul>
  </div>
</nav>



